.bb-icon {
  background: url("../images/bbasket.svg");
  vertical-align: middle;
  display: inline-block;
}

.svg-call {
  background-position: 21.971830985915492% 19.801980198019802%;
  width: 15px;
  height: 15px;
}

.svg-location {
  background-position: 42.4572442588943% 38.44884488448845%;
  width: 15px;
  height: 15px;
}

.svg-user {
  background-position: 78.2883509760042% 76.7543392694314%;
  width: 15px;
  height: 15px;
}

.header-top {
  color: #666;
  font-size: 13px;
}

.search-color {
  background-color: #84c225;
  height: 34px;
}

.svg-basket {
  background-position: 2.9170780597545356% 2.0236087689713322%;
  width: 40px;
  height: 30px;
}

.basket {
  font-size: 13px;
}

.basket-container {
  background-color: #f2f2f2;
  /* padding: 15px; */
}

.search-input {
  border: 1px solid black;
  border-right: none;
  height: max-content;
}

.product-category {
  color: gray;
  font-size: 12px;
}

.product-title {
  font-size: 14px;
}

.svg-delivery {
  background: url("../images/delivery.svg") no-repeat;
  width: 25px;
  height: 15px;
  display: block;
}

.delivery-time {
  font-size: 10px;
  margin: 0;
}

.product-info {
  background-color: #f2f2f2;
}

.product-delivery {
  display: flex;
  gap: 5px;
}

.mrp {
  font-size: 12px;
  color: #666;
}

.product-price {
  font-size: 15px;
}

.quantity {
  font-size: 12px;
  border: 1px solid #666;
  border-radius: 5px;
}

.quantity input {
  border: none;
}

.qty {
  border-right: none;
  padding: 2px;
}

.add-btn {
  font-size: 8px;
  border: 1px solid #fee67c;
  background: #fee67c;
  background: linear-gradient(180deg, #fee67c 0, #f2cb76);
  border-radius: 5px;
}

footer {
  background-color: #f2f2f2;
}

.footer {
  font-size: 12px;
}

.cart-delete {
  text-align: center;
  font-size: 12px;
}

.bb-logo {
  height: 2.25rem;
}

.bike-svg {
  background: url("../images/bike.svg") no-repeat;
  width: 20px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
}

.location {
  font-size: 10px;
  background-color: #f2f2f2;
}

.fs-10px {
  font-size: 10px;
}

.fs-12px {
  font-size: 12px;
}

.cart-svg {
  background: url("../images/cart.svg") no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
}

.cart {
  background-color: #fae6e6 !important;
}

.search-svg {
  background: url("../images/search.svg") no-repeat;
  display: inline-block;
  width: 16px;
  height: 17px;
}

.star-svg {
  background: url("../images/star.svg") no-repeat;
  display: inline-block;
  width: 16px;
  height: 9px;
}

.price {
  font-size: 15px;
}

.bookmark-svg {
  background: url("../images/bookmark.svg") no-repeat;
  display: inline-block;
  width: 20px;
  height: 18px;
}

.rating {
  background-color: rgba(228, 241, 204);
  color: rgba(71, 111, 0, 1);
}

.delivery-time {
  background-color: #f2f2f2;
}

.background-gray {
  --bg-opacity: 1;
  background-color: #f7f7f7;
  background-color: rgba(247, 247, 247, var(--bg-opacity));
}

.popupbg {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: contrast(40%);
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.popup {
  position: relative;
  padding: 1rem 2rem;
  background-color: white;
  width: fit-content;
  line-height: 2rem;
  color: black;
  top: 10vh;
}

input:focus {
  outline: none;
}

.mobile-nav {
  background-color: #689f38;
}

.mobile-svg {
  background: url("../images/mobile_svg.webp") no-repeat;
  display: inline-block;
}

.user-svg {
  background-position: -6px -424px;
  width: 25px;
  height: 25px;
}

img {
  width: 100%;
}

.cross {
  background: url("../images/close.svg") no-repeat;
  display: inline-block;
  width: 25px;
  height: 30px;
}

.apple-green {
  --bg-opacity: 1;
  background-color: #e4f1cc;
  background-color: rgba(228, 241, 204, var(--bg-opacity));
}

.apple-green-dark-text {
  color: #76b900;
}

.apple-green-dark {
  --bg-opacity: 1;
  background-color: #76b900;
  background-color: rgba(118, 185, 0, var(--bg-opacity));
}

.minus-svg {
  background: url("../images/minus.svg") no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.plus-svg {
  background: url("../images/plus.svg") no-repeat;
  display: inline-block;
  width: 20px;
  height: 21px;
}

.sign {
  width: 50px;
}

.sign-hover:hover {
  background-color: red;
  border-radius: 5px;
  color: white;
  /* padding: 0 10px; */
}

.add-hover:hover {
  color: white !important;
  background-color: red !important;
}

a:any-link {
  text-decoration: none;
  color: black;
}

.cart-number {
  font-size: 9px;
  font-family: sans-serif;
  padding: 2px 4px;
  font-weight: bold;
  border-radius: 5px;
  float: right;
  margin-top: 15px;
}

.noCart {
  width: 200px;
  height: 200px;
}

.filter-head {
  background-color: #eee !important;
}

/* body {
  background-color: #f7f7f7 !important;
} */

.fill-green {
  fill: green;
}

.fs-15px {
  font-size: 15px;
}

.order-border {
  border: 15px solid #f2f2f2;
}

@media screen and (max-width: 786px) {
  .payment-options {
    overflow: scroll;
  }
}

.card-hover:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  cursor: pointer;
}

li a {
  color: white !important;
}

ul {
  list-style-type: none;
}

footer {
  --bg-opacity: 1;
  background-color: #101010;
  background-color: rgba(16, 16, 16, var(--bg-opacity));
  --text-opacity: 1;
  color: #ddd;
  color: rgba(221, 221, 221, var(--text-opacity));
}
